@font-face { 
    font-family: 'Montserrat'; 
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

h1 {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
}

body {
    background-color: black;
}